<launch>
  <node name="recorder" output="screen" pkg="nerf_ds_recorder" type="node.py"
  args="
  -i /realsense_gripper/color/image_raw
  -l /realsense_gripper/aligned_depth_to_color/image_raw
  -d $(find nerf_ds_recorder)/data
  -t circle
  -n 50
  -r 0.1
  -p 0 -0.7 0.3
  --normal 0 -1 0
  --ip 127.0.0.1
  " />
</launch>